<div id="body">
    <p>
        Тази апликация пази локално информация за последните 10 (десет) заявки направени от потребителя.
    </p>
    <p>
        Тази апликация <b>НЕ ПАЗИ</b> лична информация за потребителя, или каквато и да е информация за него.
    </p>
    <p>Информцията изпращана и получаван през интернет по никакъв начин не може да навреди на потребителя, <b>не</b> съдържа лични данни и по никакъв начин не е свързана със самия потребител.</p>
    <p>
        Ако имате въпроси относно поверителността на приложението, моля свържете се с нас на адрес:
    </p>
    <a href="mailto:stoilov_mario@yahoo.com">stoilov_mario@yahoo.com</a>
</div>
